<% flash.each do |type, msg| %>
  <% if type == 'notice' %>
    <div class="flash_notice">
      <%= msg %>
    </div>
  <% end %>
  <% if type == 'error' %>
    <div class="flash_error">
      <%= msg %>
    </div>
  <% end %>
<% end %>
<%= form_with model: @comment, url: user_create_post_comment_path, method: :post, class: 'comment_form' do |form| %>
  <h2>Add Comment: </h2>
  <div>
    <%= form.label :text, "Comment:" %><br>
    <%= form.text_field :text, :required => true %>
  </div>
  <div>
    <%= form.submit "Add comment" %>
  </div>
<% end %>