<div class="session_box">
  <%= link_to 'Register', new_user_registration_path %>
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</div>
<div class="users_index_main_container" >
<% if @users %>
  <% @users.each do |user| %>
    <div class="user_container" >
      <div class="user_photo_container" >
        <img src='<%= user.photo %>' a='user profile picture'>
      </div>
      <%= link_to user, class: 'user_link_container' do %>
        <div class="user_profile_container" >
            <p class="user_name" ><%= user.name %></p>
            <p class="user_post_counter">Number of posts: <%= user.posts_counter %></p>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <h2>No Users</h2>
<% end %>
</div>