<div class="user_container" >
  <div class="user_photo_container" >
    <img src='<%= @user.photo %>' a='user profile picture'>
  </div>
  <div class="user_profile_container" >
    <p class="user_name" ><%= @user.name %></p>
    <p class="user_post_counter">Number of posts: <%= @user.posts_counter %></p>
  </div>
</div>
<div class="user_bio_container">
  <p class="bio">Bio</p>
  <p class="user_bio"><%= @user.bio %></p>
</div>
<div class='add_post_box'>
  <%= link_to 'Add Post', user_new_post_path(@user), class: 'add_post_btn' %>
</div>
<% @posts.each do |post| %>
  <div class="post_container">
    <%= link_to post.title, user_post_path(user_id: @user, id: post.id), class: 'post_title' %>
    <p class="post_text"><%= post.text %></p>
    <div class="comments_likes_container">
      <p>Comments: <%= post.comments_counter ? post.comments_counter : 0 %>, </p>
      <p> Likes: <%= post.likes_counter ? post.likes_counter : 0 %></p>
    </div>
  </div>
<% end %>
<div class="see_all_btn">
  <%= link_to "See All Posts", user_posts_path(user_id: @user)%>
</div>