<% flash.each do |type, msg| %>
  <% if type == 'notice' %>
    <div class="flash_notice">
      <%= msg %>
    </div>
  <% end %>
  <% if type == 'error' %>
    <div class="flash_error">
      <%= msg %>
    </div>
  <% end %>
<% end %>
<div class="user_container" >
  <div class="user_photo_container" >
    <img src='<%= @user.photo %>' a='user profile picture'>
  </div>
  <div class="user_profile_container" >
    <p class="user_name" ><%= @user.name %></p>
    <p class="user_post_counter">Number of posts: <%= @user.posts_counter %></p>
  </div>
</div>
<div class="user_bio_container">
  <p class="bio">Bio</p>
  <p class="user_bio"><%= @user.bio %></p>
</div>
<% @posts.each do |post| %>
  <div class="post_container">
    <%= link_to post.title, user_post_path(user_id: @user, id: post.id), class: 'post_title' %>
    <p class="post_text"><%= post.text %></p>
    <div class="comments_likes_container">
      <p>Comments: <%= post.comments_counter ? post.comments_counter : 0 %>, </p>
      <p> Likes: <%= post.likes_counter ? post.likes_counter : 0 %></p>
    </div>
  </div>
  <div class="comments_container">
    <% post.return_recent_comments.each do |comment| %>
      <p><%= @users.find(comment.author_id).name %>:<%= comment.text %></p>
    <% end %>
  </div>
<% end %>