<h1>Test</h1>
<% flash.each do |type, msg| %>
  <% if type == 'notice' %>
    <div class="flash-notice">
      <%= msg %>
    </div>
  <% end %>
  <% if type == 'error' %>
    <div class="flash-error">
      <%= msg %>
    </div>
  <% end %>
<% end %>
<%= form_with model: @post, url: user_create_post_path, method: :post, class: 'post_form' do |form| %>
  <h2>Add Post: </h2>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title, :required => true %>
  </div>
  <div>
    <%= form.label :text %><br>
    <%= form.text_field :text, :required => true %>
  </div>
  <div>
    <%= form.submit "Add post" %>
  </div>
<% end %>