<% flash.each do |type, msg| %>
  <% if type == 'notice' %>
    <div class="flash_notice">
      <%= msg %>
    </div>
  <% end %>
  <% if type == 'error' %>
    <div class="flash_error">
      <%= msg %>
    </div>
  <% end %>
<% end %>
<div class="session_box">
  <%= link_to 'Register', new_user_registration_path %>
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</div>
<div class="user_container" >
  <div class="user_photo_container" >
    <img src='<%= @user.photo %>' a='user profile picture'>
  </div>
  <div class="user_profile_container" >
    <p class="user_name" ><%= @user.name %></p>
    <p class="user_post_counter">Number of posts: <%= @user.posts_counter %></p>
  </div>
</div>
<div class="user_bio_container">
  <p class="bio">Bio</p>
  <p class="user_bio"><%= @user.bio %></p>
</div>
<div class="post_container">
  <div class="post_title_container">
    <p class="post_title"><%= @post.title %></p>
    <div class="comments_likes_container">
      <p>Comments: <%= @post.comments_counter ? @post.comments_counter : 0 %>, </p>
      <p> Likes: <%= @post.likes_counter ? @post.likes_counter : 0 %></p>
    </div>
  </div>
  <p class="post_text"><%= @post.text %></p>
  <div class="like_btn_box">
    <%= button_to 'Like', user_create_post_like_path, method: :post, class: 'like_btn' %>
  </div>
</div>
<div class="comments_container">
  <% @comments.each do |comment| %>
    <p><%= comment.author.name %>:<%= comment.text %></p>
  <% end %>
  <div class='add_comment_box'>
    <%= link_to 'Add Comment', user_new_post_comment_path(@user), class: 'add_comment_btn' %>
  </div>
</div>